{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}




{% block main %}



    <div class="span8">
        {% if user.is_authenticated %}<h1>Thanks for beta testing Noisetracks.</h1>{% endif %}
    </div>

    <div id="profile" class="span4">
        {% block profile %}
            Did you download the <a href="/{{ user.username }}">app</a> already?<br />
            You might also want to edit your account <a href="/{{ user.username }}/edit">settings</a>
            or <a href="/{{ user.username }}/password">password</a>.<br />
            More content will be published here after the first beta phase.
        {% endblock %}
    </div>



{% endblock %}