{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block profile %}
    <a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'back' %}</span></a>

    <h1>Change Email</h1>

    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <!--<legend>{% trans "Change email address" %}</legend>-->
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="control-group{% if field.errors %} error{% endif %}">

                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn" value="{% trans "Change email" %}"/>
            </div>
        </div>

    </form>
{% endblock %}

