{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block profile %}
    <h1>{% trans "Reset password" %}</h1>
    <form action="" method="post">
        <fieldset>
            <legend>{% trans "Reset Password" %}</legend>
            {% csrf_token %}

            {{ form.non_field_errors }}
            {% for field in form %}

                <div class="control-group{% if field.errors %} error{% endif %}">

                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                    <div class="controls">
                        {{ field }}
                        {% for error in field.errors %}
                            <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                    </div>

                </div>
            {% endfor %}

        </fieldset>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn"
                       value="{% trans "Reset password" %}"/>
            </div>
        </div>
    </form>
{% endblock %}
