{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block profile %}
    <a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans 'back' %}</span></a>

    <h1>{% trans "Change password" %}</h1>

    <form action="" method="post" id="password_change_form" class="form-horizontal">
        <fieldset>
            <!--<legend>{% trans "Change Password" %}</legend>-->
            {% csrf_token %}

            {{ form.non_field_errors }}
            {% for field in form %}

                <div class="control-group{% if field.errors %} error{% endif %}">
                     {% comment %} override label for confirm password {% endcomment %}
                    {% if field.name == 'new_password2' %}

                        <label class="control-label" for="{{ field.auto_id }}">Repeat</label>

                        <div class="controls">
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}

                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                        <div class="controls">
                            {{ field }}
                            {% for error in field.errors %}
                                <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

        </fieldset>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn"
                       value="{% trans "Change password" %}"/>
            </div>
        </div>
    </form>
{% endblock %}
