{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}


{% block main %}
    <h1><a href="/media/noisetracks.apk">Download the app.</a></h1>
    <span class="text-warning">
        1) If you use chrome mobile: long press and 'Save link'.
        2) When download has finished, click on noisetracks.apk and 'Install'.
        3) This method can also be used to update an existing version.
        4) Thanks for testing!
    </span>
    <h3>Coming up: MAP, PLAY, FOLLOW, LOOP, REMIX, TRACK, STREAM.
    In the mean time: Track your noise, update your profile.</h3>
{% endblock %}

{% block profile %}

    <div class="row-fluid">
        <div class="span2"><img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "mugshot" %}" /></div>
        <div class="span2">
            {% block profile_navigation %}
                {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
                {% if user.username == profile.user.username %}
                    <div class="dropdown">
                        <ul id="profileMenu" class="dropdown-menu clearfix" role="menu" aria-labelledby="dLabel">
                            {% block profile_navigation_items %}
                                <li><a tabindex="-1" href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit profile" %}</a></li>
                                <li><a tabindex="-1" href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
                                <li><a tabindex="-1" href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="row-fluid">

        <div class="span12">
            {% block profile_details %}

                {% block profile_definition_list %}
                    {% if profile.name %}
                        <b>{{ profile.name }}</b><br />
                    {% endif %}
                    {% if profile.user.username %}
                        @{{ profile.user.username }}
                    {% endif %}
                    {% if profile.user.email and not hide_email %}
                        <p>{{ profile.user.email }}</p>
                    {% endif %}
                    {% if profile.bio %}
                        <p>{{ profile.bio }}</p>
                    {% endif %}
                    <p>{% if profile.location %} {{ profile.location }} · {% endif %}
                        {% if profile.website %}
                            {{ profile.website|urlize }}
                        {% endif %}
                    </p>
                {% endblock %}

            {% endblock %}
        </div>
    </div>

{% endblock %}
