{% extends 'userena/base_userena.html' %}

{% block main %}
    <h1>Hello, Noise.</h1>
{% endblock %}



{% block profile %}
    {% include 'userena/signin_form_form_only.html' %}

    </div></div>

    {% if not user.is_authenticated %}
        <div class="row-fluid">
            <div class="span3 offset7">
                <button class="signup btn-large btn-inverse" style="margin-top:10px;">Sign up for Noisetracks Beta</button>
            </div>
        </div>
    {% endif %}

{% endblock %}

