<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Upload Noise</title>	
		
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
		
	</head>

	<body>
		<!-- List of uploaded files -->
		{% if entries %}
			<ul>
			{% for entry in entries %}
				<li>{{ entry.user_id }} | <a href="{{ entry.file.url }}">{{ entry.file.name }}</a> | {{ entry.likes }} like{{ entry.likes|pluralize }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No documents.</p>
		{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="/list/" method="post" enctype="multipart/form-data">
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
			<p>
				{{ form.file.errors }}
				{{ form.file }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
		
	</body>

</html> 
